@use "base" as *;

.navbar-button{
    @include buttonLayout();
}

.alert{
    position: fixed;
    left: 40%;
    width: 250px;
    height: 50px;
    background-color: rgba(0, 255, 0, 0.8);
    border: 2px solid green;
    border-radius: 5px;
    color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    @include textLayout(green);
    font-size: 16px;
}

.error{
    background-color: rgba(255, 0, 0, 0.9);
    border: 2px solid red;
    color: red;
    @include textLayout(red);
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 10px solid $color-primary;
    height: 500px;
    width: 350px;
    margin: 5px;
    cursor: pointer;
    &-top{
        height: 80%;
        width: 100%;
        display: flex;
        justify-content: center;
        &-image{
            height: 100%;
            max-width: 100%;
        }
        background-color: $color-dark-blue;
        padding-bottom: 5px;
    }
    &-bottom{
        width: 100%;
        height: 20%;
        text-align: center;
        background-color: $color-primary;
        @include flexLayout;
        flex-direction: column;
        &-title{
            @include flexLayout(space-between);
            flex-direction: row;
            width: 100%;
            &-header{
                @include titleLayout(28px);
            }
            &-price{
                color: $color-white;
                font-family: $font-poppins;
                font-size: 20px;
            }
        }
        &-info{
            @include flexLayout(space-between);
            flex-direction: row;
            width: 100%;
            &-text{
                @include textLayout;
            }
        }  
    }
}

@media screen and (max-width: 414px) {
    .card{
        &-bottom{
            &-title{
                &-header{
                    font-size: 20px;
                }
            }
            &-info{
                &-text{
                    font-size: 15px;
                }
            }
        }
    }
}